absl-py==0.15.0
aiodns==3.0.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.10.0
bleach==4.1.0
cachetools==5.2.0
cchardet==2.1.7
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
dataclasses==0.6
debugpy==1.5.1
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dm-tree==0.1.6
elasticsearch==7.17.0
en-core-web-md==2.3.1
entrypoints==0.4
fake-useragent==0.1.11
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.0
gast==0.3.3
geographiclib==1.52
geopy==2.2.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletransx==2.4.2
grpcio==1.32.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.4.0
ipykernel==6.9.0
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
lazypredict==0.2.9
lightgbm==2.3.1
llvmlite==0.36.0
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.2
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numba==0.53.1
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.19.4
psutil @ file:///D:/bld/psutil_1653089401496/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.2
python-socks==2.0.3
pytz==2021.3
pywin32==303
pywinpty==2.0.2
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
schedule==1.1.0
Send2Trash==1.8.0
six==1.15.0
sklearn==0.0
sktime==0.6.1
soupsieve==2.3.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow-probability==0.13.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
tornado==6.1
tqdm==4.56.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typing-extensions==3.7.4.3
urllib3==1.26.8
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.5.2
wrapt==1.12.1
xgboost==1.1.1
yarl==1.7.2
zipp==3.8.0
